img.smallImage {
    width:35px;
    height:35px;
}

img.thumbnail{
    width:50px;
    height:50px;
}

img.thumbnailLarge{
    width:100px;
    height:100px;
}

div.inline { float:left; }
div.inlineUser{float: right;}

.clearBoth { clear:both; }

.centerborder {
    margin: auto;
    width: 50%;
    border: 2px solid darkblue;
    padding: 10px;
}

.center {
    margin:0 auto;
}

.service-list {
list-style-type: none;
margin-left:0px;
padding-left:0px;
display: inline-block;
}

.userItem img
{
float:left;
}

.userItem p {
text-align: right; 
display:inline-block;
padding: 0;
}

#answeredQuestion {
   
background: #B3D8FF;
   
}

.star {
    color:yellow;
    font-size: 25px
}

.cursor li:hover {
    background-color: rgb(103, 233, 179);
    cursor: pointer;
}

.superpic {

    float:left; 
    width:25%;
    padding:5px"
}

.superList {
    float:left; 
    width:50%;
    padding:5px"
}
.rank {
    float:left; 
    width:25%;
    padding:5px"
}

li.order:nth-child(1){
    background-color: goldenrod;
}

li.order:nth-child(2){
    background-color: silver;
}

li.order:nth-child(3){
    background-color: rgb(238, 53, 53);
}